{
  "device_name": "localhost",
  "listening_port": 55555,
  "storage_path": "/srv/btsync/data",
  "pid_file": "/srv/btsync/data/sync.pid",
  "check_for_updates": true,
  "use_upnp": true,
  "download_limit": 0,
  "upload_limit": 0,
  "webui": {
    "listen": "0.0.0.0:8081",
    "login": "$DEPOT_USER",
    "password": "$DEPOT_PASSWORD"
  },
  "disk_low_priority": false,
  "folder_rescan_interval": 600,
  "lan_encrypt_data": true,
  "lan_use_tcp": true,
  "rate_limit_local_peers": false,
  "sync_max_time_diff": 300,
  "sync_trash_ttl": 30
}